<style>
  :host {
    margin-top: 200px;
  }

  .container {
    margin-top: 75px;
  }
</style>
<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">
  Angular App loaded
</div> -->
<!-- <app-top-navigation [title]="title"></app-top-navigation> -->

<!-- <app-product-list [productList]="productList"></app-product-list> -->

<div class="container">
  <nav class="sidebar">
    <ul>
      <li>
        <a routerLink="/angular/" routerLinkActive="active">Home</a>
      </li>
      <li>
        <a routerLink="/product-list" routerLinkActive="active">Product List</a>
      </li>
      <li>
        <a routerLink="/add-product" routerLinkActive="active">Add product</a>
      </li>

      <li>
        <a href="/react/Todos">Todo List</a>
      </li>

      <li>
        <a routerLink="/react/addTodo" routerLinkActive="active">Add Todo</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>
