<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-top: 200px;

  }

  .container {
    margin-top: 75px;
  }

</style>
<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">
  Angular App loaded
</div> -->
<!-- <app-top-navigation [title]="title"></app-top-navigation> -->

<!-- <app-product-list [productList]="productList"></app-product-list> -->

<div class="container">
  <router-outlet></router-outlet>
</div>
