<h3>Add Product</h3>

<form class="add-product-form">
  <div class="product-field">
    <label for="name">Enter product name </label>
    <input type="text" name="name" id="name" required />
  </div>

  <div class="product-field">
    <label for="name">Enter SKU </label>
    <input type="text" name="sku" id="sku" required />
  </div>

  <div class="product-field">
    <label for="name">Enter Product Image URL </label>
    <input type="text" name="image" id="image" required />
  </div>

  <div class="product-field">
    <label for="name">Department(comma separated) </label>
    <input type="text" name="department" id="department" required />
  </div>

  <div class="product-field">
    <label for="name">Price</label>
    <input type="text" name="price" id="price" required />
  </div>

  <div class="form-example">
    <input type="submit" value="Add Product" />
  </div>
</form>
